<article class="resume">
<div id='e_addr' style='width:25%;float:left;text-align:left;'>
<a href="http://www.google.com/recaptcha/mailhide/d?k=01mTKMQOvXjDvXbylP1VhDrQ==&c=pqk3HuaKJBJNDFHEyqjMdNWV_y7fE2YmyKb9HST5W4A=">Email</a>
</div><div id='name' style='width:50%;float:left;text-align:center;'>
<a href="http://kidfixit.com/blog/resume">HTML</a> 
</div><div id='analog_addr' style='width:25%;float:right;text-align:right;'>
122 W Roosevelt St.  
Phoenix, AZ 85003
</div><div style='clear: both;'> </div>
{{ content }}
</article>